
/* GRID */
div .grid{
  display: inline-block;
}
#coders{
  margin-top: 5%;
  text-align: center;
  position: relative;

}
.grid figure{
  position: relative;

  margin: 0;
  /*z-index: 1;*/
  overflow: hidden;

}
figure > .center{
  position: absolute;
  z-index: 100;
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
  right: 15%;
  top: 49%;
  color: white;
  opacity: 0;
}

.sombra{
  position: absolute;
  width: 355px;
  height:355px;
  z-index: 200;
}
.sombra:hover{
  overflow: hidden;
  opacity: 1;
  cursor:pointer;
  z-index: 600;
  background-color: rgba(249, 169, 26, 0.52);
  /*transform: scale(1.2); /*crece*/*/
  z-index: 199;
}
figure:hover .center {
  opacity: 1;
}
figure:hover img {
  transform: scale(1.2); /*crece*/

}
img{
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.box figure figcaption{
  opacity: 1;
}

.tile figure span{
  text-align: center;
}

.box-header{
   background-color: black;
   height: 300px;
     width: 100%;
 }
 body {
 	font-family: monospace;
   margin: 0px;
 }
 .contenedor {
 	margin: auto;
 	display: table;
 }

 h1 {
  margin-top: 14%;
  margin-left: 0%;
  position: relative;
  float: left;
  background: black;
  color: #fff;
  font-size: 2.5em;
 }

 h1 span {
     position:absolute;
     right:0;
     width:0;
     background: black;
     border-left: 1px solid #fff;
     animation: escribir 5s steps(30) infinite alternate;
 }

 @keyframes escribir {
     from { width: 100% }
     to { width:0 }
 }
 h2 {
   text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
    font-family: cursive;
 }
 footer {
   font-family: Comic;
   text-align: center;
   height: 49px;
   background-color: #373B47;
   color: white;
   padding-top: 7px;
 }
