/* GRID */
div .grid{
  display: inline-block;
}
#coders{
  margin-top: 100px;
  text-align: center;
  position: relative;

}
.grid figure{
  position: relative;

  margin: 0;
  /*z-index: 1;*/
  overflow: hidden;

}
figure > .center{
  position: absolute;
  z-index: 100;
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
  right: 15%;
  top: 49%;
  color: white;
  opacity: 0;
}

.sombra{
  position: absolute;
  width: 355px;
  height:355px;
  z-index: 200;
}
.sombra:hover{
  overflow: hidden;
  opacity: 1;
  cursor:pointer;
  z-index: 600;
  background-color: rgba(249, 169, 26, 0.52);
  /*transform: scale(1.2); /*crece*/*/
  z-index: 199;
}
figure:hover .center {
  opacity: 1;
}
figure:hover img {
  transform: scale(1.2); /*crece*/

}
img{
  width: 350px;
  height: 350px;

}

.box figure figcaption{
  opacity: 1;
}

.tile figure span{
  text-align: center;
}
