body{
  background-color: black;
  }
  /*Direct style for nav tag*/
  nav{
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 80px;
    z-index: 1000;
    margin-top: 0;
    position: fixed;
    padding-top: 0px;
    background: none;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  }
  /*Menu bar logo and menu styles general*/
/*Logo*/
.logo,
.menu{
  position: absolute;
  z-index: 1000;
}
.logo{
  left:15px;
  top:-4px;
  width: 70px;
  height: 74px;
  padding: 0.4% 3%;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/laboratoria.svg);
}
.open .logo,
nav.solid #logo .logo {
  background-image: url(../img/laboratoria.svg);
}
.logo img{
  z-index: 1000;
}
.menu{
  position: absolute;
  z-index: 1000;
}
/*Hamburger*/
nav .menu{
  top:0;
  right:0;
  height: 4px;
  width: 24px;
  text-align:right;
  margin: 2rem 2rem;
  background: #f7b617;
  transition: all 0.3s;
}
.menu:before{
  top: -8px;
}
.menu:after{
  top: 8px;
}
#toggle:hover .menu:before {
  top: -9px;
}
#toggle:hover .menu:after {
  top: 9px;
}
.menu:before,
.menu:after{
  content: '';
  width: 24px;
  height: 4px;
  z-index: -1;
  display: block;
  position: absolute;
  background: #f7b617;
  transition: all 0.3s;
}
#toggle:hover {
  transition: top 0.4s;
}
/*END HAMBURGUER*/
/*START OVERLAY */
.open .menu{
  background: none!important; /*remove the main line of hamburger*/
}
.open .menu::after{ /*second line */
  top: 0!important; /* move up */
  background: #fff !important; /*change color */
  transform: rotate(45deg);
}
.open .menu::before{
  top: 0!important;
  background: #fff !important; /*change color */
  transform: rotate(-45deg);

}
/*FINISH OVERLAY */
